#player-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    padding-bottom: 0;
    border-radius: 0.4em;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.icon {
    padding-right: .1em;
}

/* Position the player container in the right bottom */
#player-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

#foot {
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 8px;
}