/* Set body and html to 100vh */
html, body {
  height: 100vh;
  margin: 0;
}

/* Position the content container */
#content-container {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

