<div id="container">

  <app-navbar 
    (showTodoListChanged)="onShowTodoListChanged($event)" 
    (showPomodoroChanged)="onShowPomodoroContainerChanged($event)"
    (showWeatherChanged)="onShowWeatherContainerChanged($event)"></app-navbar>

  <div id="content-container">

    <div *ngIf="showTodoListContainer">
      <app-todo-list></app-todo-list>
    </div>

    <div *ngIf="showPomodoroContainer">
      <div id="pomodoro-container">
        <app-pomodoro></app-pomodoro>
      </div>
    </div>

    <div *ngIf="showWeatherContainer">
      <app-weather></app-weather>
    </div>

    <div id="foot">
      <app-random-sentence></app-random-sentence>
      <app-screen-container></app-screen-container>
      <app-player-container></app-player-container>
    </div>
  </div>
</div>