/* Position the screen container in the left bottom */
#screen-component {
    position: absolute;
    bottom: 0;
    left: 0;
}

#screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    padding-bottom: 0;
    border-radius: 0.4em;
}

#screen-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#screen-icon-container i {
    font-size: 1.5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#volumen-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 80%;
    padding-left: 1em;
}